html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: rgb(221, 221, 221);  
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;    
}

.containerFirst {
    background-image: url("image/linus-nilsson-WfKndo8Vv7w-unsplash.jpg");
    background-size: cover;
    padding: 50px 20px;
    margin: 0 auto; 
    width: 1400px;    
    max-width: 100%;
    min-height: 100vh;
}    

.containerSecond {
    width: 900px;    
    max-width: 100%;
    margin: 0 auto;  
    padding: 20px 20px 0 20px;  
    background: rgba(221, 221, 221, 0.7);
}

.section {
    margin: 100px 0;
}

.header__title {
    font-size: 40px;
    text-align: center;    
}

.calculator {
    margin: 50px 0;
}

.calculator__formFieldset {
    width: 700px;    
    max-width: 100%;
    margin: 50px auto;
    padding: 20px 0;
    font-size: 18px;
}

.calculator__formLegend {
    font-size: 22px;
    text-align: center;
    padding: 0 10px;
    text-transform: uppercase;
}

.calculator__formLabel {
    font-size: 20px;
}

.calculator__formParagraph {
    text-align: center;
    margin: 20px 0;
}

.calculator__formField {
    height: 50px;
    padding: 10px;
    margin: 10px 0;    
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
}

/* .calculator__formField--currencyFrom {
    margin: 10px 10px 10px 0;  
} */

.button {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);    
    margin: 10px;        
}

.button--submit:hover {
    background-color: rgba(65, 180, 250, 0.5);
    border: none;            
}

.button--reset:hover {
    background-color: rgba(255, 0, 0, 0.5);    
    border: none;        
}

.button--submit:active {
    color: rgb(238, 238, 238);    
    background-color: rgb(65, 180, 250, 0.4);
    border: none;            
}

.button--reset:active {
    color: rgb(238, 238, 238);
    background-color: rgba(255, 0, 0, 0.4);    
    border: none;        
}

.calculator__formResult {
    font-weight: bold;
}

.order__formList {
    list-style: none;
    text-align: left;
}

.order__formLabel {
    display: inline-block;
    width: 200px;
    text-align: right;
    font-size: 18px;
    padding: 0;
}

.order__formField {
    width: 400px;
    max-width:100%;
    padding: 5px;
    margin: 10px 0;    
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
}

.button--order:hover {
    background-color: rgb(42, 145, 52, 0.5);
    border: none;            
}

.button--order:active {
    color: rgb(238, 238, 238);    
    background-color: rgb(42, 145, 52, 0.4);
    border: none;            
}

.footer {      
    font-size: 14px; 
    font-weight: 300;
    text-align: right; 
    padding: 0 10px 5px 0;  
    margin-top: 50px;
}